.robot {
    /*border: 2px solid red; for testing purposes*/
    position: relative;
    width: 19.60%;
    margin: 0 auto;
}

.antennae {
    width: 5px;
    height: 0;
    border: 5px solid transparent;
    border-top: 10px solid #777;
    border-bottom: 60px solid #888;
    position: relative;
    left: 140px;
}

@keyframes blink {
    50% {
        background: radial-gradient(circle, #26F0F1 15%, transparent 40%), #2e456d;
        background-size: 75px 150px;
    }
}

@-webkit-keyframes blink {
    50% {
        background: -webkit-radial-gradient(circle, #26F0F1 15%, transparent 40%), #2e456d;
        background-size: 75px 150px;
    }
}

@-moz-keyframes blink {
    50% {
        background: -moz-radial-gradient(circle, #26F0F1 15%, transparent 40%), #2e456d;
        background-size: 75px 150px;
    }
}

.laser {
    animation: blink .5s infinite;
    -webkit-animation: blink .5s infinite;
    -moz-animation: blink .5s infinite;
    background-size: 75px 150px;
}

.brain {
    background: radial-gradient(circle, white 15%, transparent 40%), #2e456d;
    background: -moz-radial-gradient(circle, white 15%, transparent 40%), #2e456d;
    background: -webkit-radial-gradient(circle, white 15%, transparent 40%), #2e456d;
    background-size: 75px 150px;
    height: 150px;
    width: 150px;
    border-radius: 60px 60px 10px 10px;
    border-bottom: 40px double #666;
    position: relative;
    left: 70px;
}

.torso {
    height: 0;
    width: 140px;
    border-top: 275px solid #2e456d;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-radius: 20px 20px 100px 100px;
}

.left-arm {
    font-family: 'Poller One', verdana, arial, sans-serif;
    font-weight: bold;
    font-size: 250px;
    color: #666;
    transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    -moz-transform: rotate(200deg);
    position: relative;
    top: -295px;
    left: -190px;
    z-index: -1;
}

.right-arm {
    font-family: 'Poller One', verdana, arial, sans-serif;
    font-weight: bold;
    font-size: 250px;
    color: #666;
    transform: scaleY(-1) rotate(20deg);
    -webkit-transform: scaleY(-1) rotate(20deg);
    -moz-transform: scaleY(-1) rotate(20deg);
    position: relative;
    top: -595px;
    left: 190px;
    z-index: -1;
}

.foot {
    height: 40px;
    width: 40px;
    background: #ccc;
    border-radius: 40px;
    border: 15px solid #666;
    position: relative;
    left: 110px;
    top: -10px;
    z-index: -1;
}
